:root {
  --primary-color: #08415C;
  --primary-color-2: #0b5a8c;
  --secondary-color: #4c2504;
  --text-color: var(--secondary-color);
  --muted-tan: #e4dfd9;
}

.hero-card {
  background-color: var(--muted-tan);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px;
  font-size: 18px;
}

h1 {
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--primary-color);
  color: var(--muted-tan)
}

nav ul {
  flex-direction: row;
  align-items: center;
}

li {
  list-style: none;
}

@media (min-width: 1080px) {
  nav {
    height: 70px;
  }

  nav ul {
    padding: 10px;
    display: flex;
  }

  nav ul li {
    margin: 0 20px;
    font-size: 20px;
  }

  nav ul li a {
    padding: 5px 10px;
  }
}

@media (max-width: 1079px) {
  nav {
    height: 60px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  nav ul {
    padding: 5px;
    display: flex;
    justify-content: space-around;
  }

  nav ul li {
    margin: 0 5px;
    font-size: 16px;
  }

  nav ul li a {
    padding: 5px 10px;
    flex: 0 0 auto;
  }
}

header a,
footer a {
  color: var(--muted-tan);
}

header a:hover,
footer a:hover {
  border: 2px solid var(--muted-tan);
  color: var(--muted-tan);
}

main a {
  color: var(--primary-color);
}

main a:hover {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.active {
  border: 2px solid var(--muted-tan);
  color: var(--muted-tan);
}

a {
  text-decoration: none;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 5px;
}

a:hover {
  cursor: pointer;
}

.card {
  background-color: var(--muted-tan);
  font-size: 18px;
}

@media (max-width: 1079px) {
  main {
    margin: 70px 10px 10px 10px;
  }
  
  .card {
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
  }

  .borderless-card {
    border: 1px solid #cccccc00;
    border-radius: 5px;
    padding: 10px;
  }

  .contents-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px;
  }

  .contents-grid-large {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px;
  }
}

.contents-columns {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

@media (min-width: 1080px) {
  main {
    margin: 70px 40px 40px 40px;
  }

  .card {
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    padding: 20px;
  }

  .borderless-card {
    border: 1px solid #cccccc00;
    border-radius: 5px;
    padding: 40px;
  }

  .contents-grid-large {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 40px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


html,
body {
  min-height: 100vh;
}

.waves-back {
  background-image: url("waves.jpg");
}

.sand-back {
  background-image: url("sand.jpg");
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
  background-attachment: fixed;
}


main {
  padding: 20px;
  flex: 1;
  color: var(--secondary-color)
}

footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 10px;
  width: 100%;
  color: var(--muted-tan)
}
